
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/teeth.ico}">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="@{/js/ie-emulation-modes-warning.js}"></script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="nav navbar-nav navbar-left">
              <li><a class="navbar-brand" href="/user" th:text="${user.name}"></a></li>
              <li><a class="navbar-brand" href="/community">ホーム</a></li>
          </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{'/summary/' + ${communityId}}">まとめる</a></li>
            <li><a href="/logout">ログアウト</a></li>
          </ul>
          <form class="navbar-form navbar-right" th:action="@{/searchArticle}" method="get">
            <input type="hidden" name="communityId" th:value="${communityId }">
            <input type="text" class="form-control" name="keywords" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>


	<!-- sidebar -->

    <div class="container-fluid">
      <div class="row">
        <!-- sidebar -->
        <div class="col-sm-2 col-md-2 sidebar">
           <ul th:each="community : ${communityList}" class="nav nav-sidebar">
             <li class="text-center">フォローしているコミュニティ</li>
               <li th:if="${selectedCommunityId == community.id }" class="active">
                 <a th:href="@{'/community/' + ${community.id}}" th:inline="text">[[${community.name}]]</a>
               </li>
               <li th:if="${selectedCommunityId != community.id }">
                 <a th:href="@{'/community/'?communityId=${community.id}" th:inline="text">[[${community.name}]]</a>
               </li>
           </ul>
           <p class="text-center" style="margin-top:20px;">管理しているコミュニティ</p>
           <ul th:each="community : ${adminCommunityList}" class="nav nav-sidebar">
               <li th:if="${selectedCommunityId == community.id }" class="active">
                 <a th:href="@{'/community/' + ${community.id}}" th:inline="text">[[${community.name}]]</a>
               </li>
               <li th:if="${selectedCommunityId != community.id }">
                 <a th:href="@{'/community/' + ${community.id}}" th:inline="text">[[${community.name}]]</a>
               </li>
           </ul>
        </div>

        <!-- main -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="" style="margin-bottom:40px;">
            <div>
            <form class="" th:action="@{/searchMyArticleRelatedCommunity}" method="get" >
              <input type="hidden" name="communityId" th:value="${communityId }">
              <button type="submit" class="btn btn-info pull-right" style="margin-left:10px;">自分の記事</button>
            </form>
            </div>
            <div>
            <form class="" th:action="@{'/detailCommunity/' + ${communityId}}" method="get">
              <button type="submit" class="btn btn-info pull-right">コミュニティの詳細</button>
            </form>
            </div>
          </div>
          <div class="row">


            <div th:each="article : ${articleList }">
            <div th:if="${article.conditions == 1}" class="col-xs-6 col-lg-4">
            <div class="well" style="border:solid 1px #c0c0c0;">
              <h2 th:text="${article.title }"></h2>
              <h4 th:text="${article.adminUser.name }"></h4>
              <h5 th:inline="text" class="">[[${article.likes }]]いいね</h5>
              <p class="article-content" th:text="${article.content }"></p>
              <p>
                <a class="btn btn-default" th:href="@{'/detailArticle/' + ${article.id }}" role="button">詳細 »</a>
                  <a th:if="${article.contributorId != user.id && likeArticleIdList.contains(article.id)}" class="btn btn-info pull-right" th:href="@{'/like/' + '?articleId=' + ${article.id} + '&communityId=' + ${article.communityId} + '&path=community'}" role="button">いいね済み</a>
                  <a th:if="${article.contributorId != user.id && !likeArticleIdList.contains(article.id)}" class="btn btn-success pull-right" th:href="@{'/like/' + '?articleId=' + ${article.id} + '&communityId=' + ${article.communityId} + '&path=community'}" role="button">いいね</a>
              </p>
              </div>
            </div>
            </div>


          </div><!--/row-->
        </div>
      </div>
    </div>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>
	$(function(){
	    var $setElm = $('.article-content');
	    var cutFigure = '100'; // カットする文字数
	    var afterTxt = '…'; // 文字カット後に表示するテキスト

	    $setElm.each(function(){
	        var textLength = $(this).text().length;
	        var textTrim = $(this).text().substr(0,(cutFigure))

	        if(cutFigure < textLength) {
	            $(this).html(textTrim + afterTxt).css({visibility:'visible'});
	        } else if(cutFigure >= textLength) {
	            $(this).css({visibility:'visible'});
	        }
	    });
	});
	</script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    Just to make our placeholder images work. Don't actually copy the next line!
    <script src="../../assets/js/vendor/holder.min.js"></script>
    IE10 viewport hack for Surface/desktop Windows 8 bug
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
